.vs/
bin/
obj/
*.user
*.log
*.suo
.vscode/
node_modules/
appsettings.Development.json
appsettings.json
appsettings.Development.json
.env
wwwroot/vendor/
# Ignore entire wwwroot folder (static files)
wwwroot/